body { 
	font-family: Arial, Tahoma, Verdana, sans-serif;
	font-size:76%;
	font-size:0.75em;
	color:#444444;
	background-color:#ffffff;
	text-align:center;
}

#govde {
	width:450px;
	text-align:center;
	margin: 0 auto; 
}

#kutu {
	width:450px;
	height:250px;
	border:1px solid #e2e8f6;
	margin-top:120px;
	margin-bottom:20px;
	text-align:left;
}

.baslik {
	background-color:#e2e8f6;
	height:40px;
	padding-left:10px;
	font-weight:bold;
	font-size:1.3em;
	padding-top:20px;
}

.durum {height:35px;margin-bottom:30px;}

.ikaz{border-bottom: 2px solid #fff;border-top: 2px solid #fff;color: #444;padding:10px;}

.hata    {background-color: #fbe3e4; border-color: #e0011b}
.hata a  {color: #d12f19}

.ikaz    {background-color: #fff6bf; border-color: #ffd324}
.ikaz a  {color: #817134}

.tamam   {background-color: #e9ffdd; border-color: #72c868}
.tamam a {color: #529214}

.bilgi   {background-color: #e2ecee; border-color: #9ddae6}
.bilgi a {color: #2d7ba2}

table { width:100%; }
td {	height:25px;padding:0px 10px 0px 10px;}
input{
	width:190px;
	border:1px solid #bdcdf3;
	color:#777777;
}

#altbilgi {border:1px solid #e2e8f6; padding:5px;}
#altbilgi a{color:#529214;text-decoration:none;}
#altbilgi a:hover{color:#666666;}